apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namePrefix: hotfix-

patches:
  - target:
      kind: Deployment
      name: api
    patch: |-
      op: replace
      path: /spec/replicas
      value: 1
  - target:
      kind: Deployment
      name: web
    patch: |-
      op: replace
      path: /spec/replicas
      value: 1

configMapGenerator:
  - name: app-config
    literals:
      - api_text=hello-hotfix
    behavior: merge

replacements:
- source:
    kind: Service
    name: api
    fieldPath: metadata.name
  targets:
  - select:
      kind: Deployment
      name: web
    fieldPaths:
    - spec.template.spec.containers.1.env.0.value