apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namespace: kust-lab

namePrefix: dev-

labels:
  - pairs:
      env: dev
    includeSelectors: false
    includeTemplates: false

commonAnnotations:
  owner: cka

patches:
  - path: change-api-deploy-replicas.yaml
  - path: change-web-deploy-replicas.yaml
  - path: api-deploy-secret-mount.yaml
  - path: api-deploy-resources.yaml
  - path: web-deploy-resources.yaml
  - target:
      kind: Service
      name: web
    patch: |-
      - op: add
        path: /spec/type
        value: NodePort

images:
  - name: nginx
    newName: nginx
    newTag: 1.25-alpine

configMapGenerator:
  - name: app-config
    literals:
      - api_text="hello-from-dev"
    behavior: merge

secretGenerator:
  - name: api-secret
    literals:
      - token=devtoken123