apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

labels:
  - pairs:
      env: dev
    includeSelectors: true
    includeTemplates: true

commonAnnotations:
  owner: cka

patches:
  - path: change-api-deploy-replicas.yaml
  - path: change-web-deploy-replicas.yaml