apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

labels:
  - pairs:
      env: dev
    includeSelectors: true
    includeTemplates: true

commonAnnotations:
  owner: cka

patches:
  - path: change-api-deploy-replicas.yaml
  - path: change-web-deploy-replicas.yaml
  - path: api-deploy-secret-mount.yaml

images:
  - name: nginx
    newName: nginx
    newTag: 1.25-alpine

configMapGenerator:
  - name: app-config
    literals:
      - api_text="hello-from-dev"
    behavior: merge

secretGenerator:
  - name: api-secret
    literals:
      - token=devtoken123